
@import url(https://cdn.geode.host/fonts/metropolis/stylesheet.css);
body {
  width: 400px;
  background-color: #0D2E4B;
  color: white;
  padding: 20px;
  display: grid;
  gap: 10px;
  font-family: Metropolis,Open Sans,sans-serif;
  background: radial-gradient(circle at center 35%, rgb(0, 106, 129) 0, rgb(2, 29, 75) 87%);
}
input, button {
  height: 20px;
  min-width: 20px;
  outline: none;
  background-color: rgba(18, 23, 32, 0.363);
  transition-duration: 200ms;
  color: white;
  border: none;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  font-weight: bold;
  border-radius: 2px;
}
input:hover, button:hover {
  background-color: rgba(18, 23, 32, 0.6);
}
button {
  height: 30px;
}
input [type =range] {
  padding: 0;
}